@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Las paginas responsive son: INICIO y SOBRE NOSOTROS */


/* fondo del proyeto */


/* Acá se esta utilizndo pseudoelemento ::selection */



/* novedades */
.contenedorFotos {
   display: flex;
   width: 100%;
   align-items: center;
   justify-items: center;
   div {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 1500px;
       justify-content: space-evenly;
       align-items: center;
       img {
           width: 100%;
           height: 200px;
           object-fit: cover;
           box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
       }
   }
}




/* Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal */
@media (min-width: 375px) {
   /* Pagina inicio no necesita cambios */
   /* Pagina Sobre Nosotros */   
   .contenedorEquipo {
      height: 120vh;
   }  

   .contenedorEquipo section {
      height: 100vh;
   }
}

@media (min-width: 425px) {
   /* Pagina inicio no necesita cambios */
   /* Pagina Sobre Nosotros */
   .carousel-item div h2{
      font-size: 30px;
      margin-top: -70px;
   }
}

/* Tabletas pequeñas, en modo vertical */
@media (min-width: 500px) {
   /* Pagina inicio no necesita cambios */
   .carousel-item div h2{
      font-size: 35px;
      margin-top: -90px;
   }

   .contenedorEquipo {
      height: 105vh;
   }
   
   .contenedorEquipo section {
      height: 90vh;
   }
   
   .equipo h4 {
      font-size: 23px;
   }
}

@media (min-width: 600px) {
   /* Pagina inicio no necesita cambios */
   .carousel-item div h2{
      font-size: 45px;
      margin-top: -105px;
   }
}

/* Tabletas de diez pulgadas, en modo vertica */
@media (min-width: 768px) and (max-width: 1023px) {
   .navbar-collapse{
      justify-content: flex-end;
   }

   .carousel-item div h2{
      font-size: 60px;
      margin-top: -140px;
   }

   .contenedorEquipo {
      height: 95vh;
   }
   
   .contenedorEquipo section {
      height: 78vh;
   }

   /* servicios de la pagina inicial */
   .contenedorServ{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(2, 235px) ; /*infinitas*/
      grid-template-areas:
      "serv1 serv2"
      "serv3 serv4"
      ;
      height: 90vh;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .serv#venta{
      grid-area: serv1;
   }

   .serv#cria{
      grid-area: serv2;
   }

   .serv#doma{
      grid-area: serv3;
   }

   .serv#entrenamiento{
      grid-area: serv4;
   }

   /* testimonios de la pagina inicial */
   .contenedorTest {
      height: 115vh;
   }

   .test{
      width: 600px;
      height: 150px;
   }

   .estrellas{
      width: 15%;
   }

   .estrellas img{
      height: 15px;
   }

   /* footer */
   .footer{
      flex-direction: row;
      height: 40vh;
   }

   .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
   }

   .logoPie div h1 {
      font-size: 50px;
   }

   .logoPie div h3 {
      font-size: 15px;
   }

   .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items:flex-start;
      margin-right: 30px;
   }

}

/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {
   .navbar-collapse{
      justify-content: flex-end;
   }

   /* servicios de la pagina inicial */
   .contenedorServ{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(2, 260px) ; /*infinitas*/
      grid-template-areas:
      "serv1 serv2"
      "serv3 serv4"
      ;
      height: 100vh;
      row-gap: 20px;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .serv {
      width: 250px;
      height: 250px;
   }

   .serv div{
      display: flex;
      width: 100%;
      height: 200px;
   }

   .serv#venta{
      grid-area: serv1;
   }

   .serv#cria{
      grid-area: serv2;
   }

   .serv#doma{
      grid-area: serv3;
   }

   .serv#entrenamiento{
      grid-area: serv4;
   }

   /* testimonios de la pagina inicial */
   .contenedorTest{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(3, 4fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(1, 235px) ; /*infinitas*/
      grid-template-areas:
      "test1 test2 test3"
      ;
      height: 45vh;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .test#test1{
      grid-area: test1;
   }

   .test#test2{
      grid-area: test2;
   }

   .test#test3{
      grid-area: test3;
   }

   /* Footer*/
   .footer{
      flex-direction: row;
      height: 40vh;
   }

   .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
   }

   .logoPie div h1 {
      font-size: 50px;
   }

   .logoPie div h3 {
      font-size: 15px;
   }

   .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items:flex-start;
      margin-right: 30px;
   }

   .carousel-item div h2{
      font-size: 63px;
      margin-top: -155px;
   }

   .contenedorEquipo {
      height: 85vh;
   }
   
   .contenedorEquipo section {
      height: 70vh;
   }
}

/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {
   .navbar-collapse{
      justify-content: flex-end;
   }

   h2 {
      font-size: 30px;
   }

   .carousel-item div h2{
      font-size: 63px;
      margin-top: -155px;
   }

   .contenedorEquipo {
      height: 75vh;
   }
   
   .contenedorEquipo section {
      flex-direction: row;
      height: 55vh;
   }
   
   .equipo {
      width: 60%;
      margin: 40px;
   }
   
   .equipo h4 {
      font-size: 25px;
   }

   
   .imgEquipo {
      width: 30%;
   }
   
   .imgEquipo img{
      width: 250px;
      height: 250px;
   } 
}
