@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Todo el proyecto tiene mobile first pero con las paginas que podes probar
el responsive son con la pagina INICIO y SOBRE NOSOTROS */
* {
   margin: 0; /* elimina el predeterminado de los navegadores, en este caso el margen */
   padding: 0; /* elimina el predeterminado de los navegadores, en este caso el patio intrno */
   box-sizing: border-box; /* los elementos dentro de mi pantalla, intenta que los elementos no se desborden */
}

/* fondo del proyeto */
body {
   background-color: #F7F7E8;
}
/* ------------------------------THE HEADER STARTS HERE------------------------------*/
/* -----------ENCABEZADO DE TODAS LAS PAGINAS----------- */
.headerIndex{
   position: sticky; /* esto es para que el indice me siga mientras me deslizo hacia habajoen mi pagina web*/
   top: 0px;
   z-index: 1000; /* esto lo puse para que el control del videos de novedades  no se superponga al indice */
}

.navbar{
   margin: 0; /* Establece el margen superior del navbar a 0 */
   padding: 0; /* Establece el relleno superior del navbar a 0 */
}

.container-fluid{
   display: flex;
   background-color: #557174;
}

/* INICIO de diseño del logo en el encab  ezado */
.logo {
   display: flex;
}

.logo img {
   width: 110px;
   height: 110px;
}

.logo div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logo div h1 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 45px;
}

.logo div h3 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 13px;
   margin-top: -10px;
}
/* FIN de diseño logo de encabezado */

.nav-link{
   color: #F7F7E8;
   text-decoration: none;
   font-family: 'DM Serif Display', sans-serif;
   font-size: 20px;
}

/* ------------------------------THE HEADER FINISH HERE------------------------------*/
/* ------------------------------THE MAIN STARTS HERE------------------------------*/
.banner {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   z-index: 999; /* esto lo puse para que el control del videos de novedades  no se superponga al indice */
}

.banner img {
   width: 90%;
   margin-top: 15px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

/* -------------SERVICIOS DEL HOME------------- */
.sectionServ {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-items: center;
   align-items: center;
   margin-top: 20px;
}

h2 {
   color: black;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.205);
}

.contenedorServ {
   display: flex;
   flex-direction: column;
   background-color: #C7CFB7;
   width: 100%;
   height: 150vh;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 20px;
}

.serv {
   display: flex;
   flex-direction: column;
   background-color: #F7F7E8;
   width: 200px;  
   height: 200px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   align-items: center;
}

.serv div{
   display: flex;
   width: 100%;
   height: 160px;
}

.serv div img{
   width: 100%;
   object-fit: cover;
}

.serv h4{
   font-family: 'Montserrat';
   font-size: 13px;
   font-style: italic;
   text-align: center;
   margin: 10px;
}

/* -------------TESTIMONIOS DEL HOME------------- */
.sectionTest{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-items: center;
   align-items: center;
   margin-top: 20px;
}

/* h2 de esta sección no lo hago ya que se desarrollo en la sección de servicio */

.contenedorTest {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 115vh;
   justify-content: space-evenly;
   align-items: center;
}

.test{
   display: flex;
   flex-direction: column;
   background-color: #9DAD7F;
   width: 270px;
   height: 200px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.test h5{
   color: black;
   font-family: 'Montserrat';
   font-style: italic;
   font-size: 15px;
   margin: 15px;
}

.estrellas{
   display: flex;
   width: 20%;
   margin-left: 15px;
}

.estrellas img{
   width: 100%;
   height: 13px;
}

.test p{
   color: black;
   font-family: 'Montserrat';
   font-size: 13px;
   margin: 15px;
   text-align: justify;
   justify-self: center;
}
/* ------------------------------THE MAIN FINISH HERE------------------------------*/
/* ------------------------------THE FOOTER STARTS HERE------------------------------*/
/* -----------FOOTER DE TODAS LAS PAGINAS----------- */
.footer{
   display: flex;
   flex-direction: column;
   background-color: #557174;
   width: 100%;
   height: 50vh;
}

.logoFooter {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.logoPie img{
   width: 150px;
   height: 150px;
}

.logoPie div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -20px;
}

.logoPie div h1 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 40px;
}

.logoPie div h3 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 10px;
   margin-top: -10px;
}

.footerRedes {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   margin-top: 30px;
}

.footerRedes div img {
   width: 50px;
   height: 40px; 
}

/* ---------------SOBRE NOSOSTROS---------------- */
/* banner de sobre nosostros */
.sobreNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 130vh;
}

.imgNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 32vh;
   justify-content: center;
   align-items: center;
}

.imgNosotros img {
   width: 90%;
   margin: 10px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

.imgNosotros h2{
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   margin-left: -140px;
   margin-top: -80px;
}

/* informacion de equipo */
.contenedorEquipo {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 90vh;
   align-items: center;
}

.contenedorEquipo section {
   display: flex;
   flex-direction: column;
   background-color:#C7CFB7;
   width: 100%;
   height: 85vh;
   margin-top: 5px;
   justify-content: center;
   align-items: center;
}

.equipo {
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 55vh;
}

.equipo h4 {
   font-family: 'Montserrat';
   font-size: 18px;
   margin-top: 20px;
   text-align: center; 
}

.equipo p {
   font-family: 'Montserrat';
   font-size: 14px;
   margin: 20px;
   text-align: justify;
}

.imgEquipo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.imgEquipo img{
   width: 150px;
   height: 150px;
}

/* ---------------SERVICIOS---------------- */
.tituloServicios {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 110px;
   gap: 20px;
   margin-top: 50px;
}

.tituloServicios div {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 80px;
   background-color: #9DAD7F;
   align-items: center;
   justify-content: center;
}

.tituloServicios h2 {
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 35px;
}

.contenedorServicio {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 1300px;
}

.contenedorServicio div{
   display: flex;
   width: 100%;
   height: 620px;
   align-content: center;
   justify-content: center;
}

.servicio {
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 600px;
   margin: 40px;
}

.servicio div {
   display: flex;
   flex-direction: column;
   width: 350px;
   height: 400px;
   border-radius: 45% 45% 20px 20px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   overflow: hidden;
   margin: 25px;
}

.servicio div img{
   width: 100%;
   height: 400px;
   object-fit: cover;
}

.servicio h4{
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 18px;
   font-style: italic;
   text-align: center;
   margin-bottom: 10px;
}

.servicio p{
   font-family: 'Montserrat';
   font-size: 13px;
   text-align: justify;
   margin: 15px;
}

/* --------------NOVEDADES---------------- */
.banner video{
   width: 35%;
   margin-top: 10px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

.contenedorFotos {
   display: flex;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.contenedorFotos div {
   display: flex;
   width: 100%;
   height: 330px;
   justify-content: space-evenly;
   align-items: center;
}

.contenedorFotos img {
   width: 18%;
   height: 200px;
   object-fit: cover;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.fechasNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.fechasNosotros h3 {
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   margin: 20px;
}

.fechasNosotros p{
   font-family: 'Montserrat';
   font-size: 18px;
   text-align: justify;
   margin: 15px;
}

.fechasNosotros hr {
   border: none;
   border-top: 1.5px solid black;
   width: 35%;
}

/* --------------CONTACTO---------------- */
.form {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.form hr {
   border: none;
   border-top: 1.5px solid rgba(0, 0, 0, 0.648);
   width: 70%;
   margin: 40px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.form form {
   display: flex;
   flex-direction: column;
   width: 25%;
   height: 150px;
   background-color: #C7CFB7;
   align-items: center;
   justify-items: center;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.infoContacto {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 900px;
   align-items: center;
}

.mapa {
   width: 300px;
   height: 300px;
   margin-top: -30px;
   margin-bottom: 20px;
}

.mapa iframe {
   width: 300px;
   height: 300px;
}

.infoContacto section {
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 600px;
   justify-items: center;
}

.infoContacto section img {
   width: 75px;
   height: 65px;
}

.infoContacto section p {
   font-family: 'Montserrat';
   font-size: 15px;
   text-align: justify;
   margin: 5px;
}

/* Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal */
@media (min-width: 480px) {
   /* Pagina inicio no necesita cambios */
}

/* Tabletas pequeñas, en modo vertical */
@media (min-width: 600px) {
   /* Pagina inicio no necesita cambios */
}

/* Tabletas de diez pulgadas, en modo vertica */
@media (min-width: 768px) and (max-width: 1023px) {
   /* servicios de la pagina inicial */
   .contenedorServ{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(2, 235px) ; /*infinitas*/
      grid-template-areas: 
      "serv1 serv2"
      "serv3 serv4"
      ;
      height: 90vh;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .serv#venta{
      grid-area: serv1;
   }

   .serv#cria{
      grid-area: serv2;
   }

   .serv#doma{
      grid-area: serv3;
   }

   .serv#entrenamiento{
      grid-area: serv4;
   }

   /* testimonios de la pagina inicial */
   .contenedorTest {
      height: 115vh;
   }
   
   .test{
      width: 600px;
      height: 150px;
   }
   
   .estrellas{
      width: 15%;
   }
   
   .estrellas img{
      height: 15px;
   }
   
   /* footer */
   .footer{
      flex-direction: row;
      height: 40vh;
   }

   .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
   }

   .logoPie div h1 {
      font-size: 50px;
   }
   
   .logoPie div h3 {
      font-size: 15px;
   }
   
   .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items:flex-start;
      margin-right: 30px;
   }
   
}


/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {
   /* servicios de la pagina inicial */
   .contenedorServ{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(2, 260px) ; /*infinitas*/
      grid-template-areas: 
      "serv1 serv2"
      "serv3 serv4"
      ;
      height: 100vh;
      row-gap: 20px;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .serv {
      width: 250px;  
      height: 250px;
   }

   .serv div{
      display: flex;
      width: 100%;
      height: 200px;
   }

   .serv#venta{
      grid-area: serv1;
   }

   .serv#cria{
      grid-area: serv2;
   }

   .serv#doma{
      grid-area: serv3;
   }

   .serv#entrenamiento{
      grid-area: serv4;
   }
   
   /* testimonios de la pagina inicial */
   .contenedorTest{
      display: grid;
      /* declaramos filas y columnas de grid, sino no funciona */
      grid-template-columns: repeat(3, 4fr); /*max son 12 columnas, fr es una medida llamada fraction*/
      grid-template-rows: repeat(1, 235px) ; /*infinitas*/
      grid-template-areas: 
      "test1 test2 test3"
      ;
      height: 45vh;
      align-content: center;
      justify-content: center;
      place-items: center; /* Centra tanto horizontal como verticalmente */
   }

   .test#test1{
      grid-area: test1;
   }

   .test#test2{
      grid-area: test2;
   }

   .test#test3{
      grid-area: test3;
   }

   /* Footer*/
   .footer{
      flex-direction: row;
      height: 40vh;
   }

   .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
   }

   .logoPie div h1 {
      font-size: 50px;
   }
   
   .logoPie div h3 {
      font-size: 15px;
   }
   
   .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items:flex-start;
      margin-right: 30px;
   }
}

/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {

}