@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
h1::selection {
  color: #F7F7E8;
  background-color: #35585C; }

h2::selection {
  color: #F7F7E8;
  background-color: #35585C; }

h3::selection {
  color: #F7F7E8;
  background-color: #35585C; }

h4::selection {
  color: #F7F7E8;
  background-color: #35585C; }

h5::selection {
  color: #F7F7E8;
  background-color: #35585C; }

p::selection {
  color: #F7F7E8;
  background-color: #35585C; }

/*bases*/
* {
  margin: 0;
  /* elimina el predeterminado de los navegadores, en este caso el margen */
  padding: 0;
  /* elimina el predeterminado de los navegadores, en este caso el patio intrno */
  box-sizing: border-box;
  /* los elementos dentro de mi pantalla, intenta que los elementos no se desborden */ }

body {
  background-color: #F7F7E8; }

/*layout*/
/*los archivos header, mainX y footer enstan hechos para la media320*/
.header {
  position: sticky;
  /* esto es para que el indice me siga mientras me deslizo hacia habajoen mi pagina web*/
  top: 0px;
  z-index: 1000;
  /* esto lo puse para que el control del videos de novedades  no se superponga al indice */ }
  .header .navbar {
    margin: 0;
    /* Establece el margen superior del navbar a 0 */
    padding: 0;
    /* Establece el relleno superior del navbar a 0 */ }
    .header .navbar .container-fluid {
      display: flex;
      background-color: #557174; }
      .header .navbar .container-fluid .logo {
        display: flex;
        width: 150px;
        height: 150px;
        align-items: center; }
        .header .navbar .container-fluid .logo img {
          width: 120px;
          height: 120px; }
        .header .navbar .container-fluid .logo div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .header .navbar .container-fluid .logo div h1 {
            color: #F7F7E8;
            font-family: 'DM Serif Display', sans-serif;
            font-weight: lighter;
            font-size: 50px; }
          .header .navbar .container-fluid .logo div h3 {
            color: #F7F7E8;
            font-family: 'DM Serif Display', sans-serif;
            font-weight: lighter;
            font-size: 10px;
            margin-top: -10px; }
      .header .navbar .container-fluid .navbar-toggler {
        border-color: #F7F7E8; }
        .header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
          background-image: url(../assets/img/menu.png); }
      .header .navbar .container-fluid .navbar-collapse .navbar-nav {
        align-items: center; }
        .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: #F7F7E8;
          text-decoration: none;
          font-family: 'DM Serif Display', sans-serif;
          font-size: 20px; }

.bannerIndex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
  /* esto lo puse para que el control del videos de novedades  no se superponga al indice */ }
  .bannerIndex img {
    margin-top: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438); }

.sectionServIndex {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-top: 20px; }
  .sectionServIndex h2 {
    color: black;
    font-family: 'DM Serif Display', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
    margin-bottom: 20px; }
  .sectionServIndex .contenedorServ {
    display: flex;
    flex-direction: column;
    background-color: #C7CFB7;
    width: 100%;
    justify-content: space-evenly;
    align-items: center; }
    .sectionServIndex .contenedorServ .serv {
      display: flex;
      flex-direction: column;
      background-color: #F7F7E8;
      width: 200px;
      height: 200px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
      align-items: center;
      margin: 20px 0px 20px 0px; }
      .sectionServIndex .contenedorServ .serv div {
        display: flex;
        width: 100%;
        height: 160px; }
        .sectionServIndex .contenedorServ .serv div img {
          width: 100%;
          object-fit: cover; }
        .sectionServIndex .contenedorServ .serv div img:hover {
          filter: grayscale(2); }
      .sectionServIndex .contenedorServ .serv h4 {
        font-family: 'Montserrat';
        font-size: 13px;
        font-style: italic;
        text-align: center;
        margin: 10px; }

.sectionTestIndex {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-top: 20px; }
  .sectionTestIndex h2 {
    color: black;
    font-family: 'DM Serif Display', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
    margin-bottom: 20px; }
  .sectionTestIndex .contenedorTest {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115vh;
    justify-content: space-evenly;
    align-items: center; }
    .sectionTestIndex .contenedorTest .test {
      display: flex;
      flex-direction: column;
      background-color: #9DAD7F;
      width: 270px;
      height: 200px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457); }
      .sectionTestIndex .contenedorTest .test h5 {
        color: black;
        font-family: 'Montserrat';
        font-style: italic;
        font-size: 15px;
        margin: 15px; }
      .sectionTestIndex .contenedorTest .test .estrellas {
        display: flex;
        flex-direction: row;
        width: 20px;
        height: 13px;
        margin-left: 15px; }
        .sectionTestIndex .contenedorTest .test .estrellas img {
          width: 100%;
          height: 13px; }
      .sectionTestIndex .contenedorTest .test p {
        color: black;
        font-family: 'Montserrat';
        font-size: 13px;
        margin: 15px;
        text-align: justify;
        justify-self: center; }

.sobreNosotros {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .sobreNosotros .carousel {
    margin: 10px; }
    .sobreNosotros .carousel h2 {
      color: #F7F7E8;
      font-family: 'DM Serif Display', sans-serif;
      font-weight: lighter;
      font-size: 25px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
      margin-top: -60px;
      margin-left: 10px; }
  .sobreNosotros .contenedorEquipo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px; }
    .sobreNosotros .contenedorEquipo h2 {
      color: black;
      font-family: 'DM Serif Display', sans-serif;
      font-weight: lighter;
      font-size: 25px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
      margin-bottom: 20px; }
    .sobreNosotros .contenedorEquipo section {
      display: flex;
      flex-direction: column;
      background-color: #C7CFB7;
      justify-content: center;
      align-items: center; }
      .sobreNosotros .contenedorEquipo section .equipo {
        display: flex;
        flex-direction: column;
        width: 90%; }
        .sobreNosotros .contenedorEquipo section .equipo h4 {
          font-family: 'Montserrat';
          font-size: 20px;
          text-align: center;
          margin: 15px; }
        .sobreNosotros .contenedorEquipo section .equipo p {
          font-family: 'Montserrat';
          font-size: 14px;
          margin: 15px;
          text-align: justify; }
        .sobreNosotros .contenedorEquipo section .equipo p::selection {
          color: #F7F7E8;
          background-color: #35585C; }
      .sobreNosotros .contenedorEquipo section .imgEquipo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 10px 20px 10px; }
        .sobreNosotros .contenedorEquipo section .imgEquipo img {
          width: 200px;
          height: 200px; }

.tituloServicios {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px; }
  .tituloServicios div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background-color: #9DAD7F;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px 0px; }
    .tituloServicios div h2 {
      font-family: 'DM Serif Display', sans-serif;
      font-weight: lighter;
      font-size: 30px; }

.contenedorServicio {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .contenedorServicio div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .contenedorServicio div .servicio {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 400px;
      margin: 15px;
      align-items: center;
      justify-content: center; }
      .contenedorServicio div .servicio div {
        width: 150px;
        height: 200px;
        border-radius: 45% 45% 20px 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
        overflow: hidden; }
        .contenedorServicio div .servicio div img {
          width: 100%;
          height: 100vh;
          object-fit: cover; }
        .contenedorServicio div .servicio div img:hover {
          filter: grayscale(2); }
      .contenedorServicio div .servicio h4 {
        font-family: 'DM Serif Display', sans-serif;
        font-weight: lighter;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        margin: 20px; }
      .contenedorServicio div .servicio p {
        font-family: 'Montserrat';
        font-size: 13px;
        text-align: justify;
        margin: 10px; }

.banner video {
  width: 100%;
  margin-top: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438); }

.contenedorFotos {
  display: none; }

.fechasNosotros {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 380px;
  align-items: center;
  justify-items: center; }
  .fechasNosotros h3 {
    font-family: 'DM Serif Display', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 18px; }
  .fechasNosotros p {
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: justify;
    margin: 10px; }
  .fechasNosotros hr {
    border: none;
    border-top: 1.5px solid black;
    width: 35%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-color: #C7CFB7;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
    justify-content: center;
    align-items: center; }
    .form form fieldset legend {
      text-align: center;
      font-weight: bold;
      text-decoration: underline; }
    .form form fieldset label {
      font-weight: bold;
      margin: 5px; }
    .form form fieldset input {
      margin-left: 10px; }
    .form form fieldset input[type="number"] {
      width: 110px; }
    .form form fieldset input[type="submit"] {
      margin: 15px 0px 10px 15px; }
    .form form fieldset input[type="reset"] {
      margin: 15px 0px 10px 15px; }

.infoContacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }
  .infoContacto .mapa {
    width: 220px;
    height: 220px;
    margin: 10px; }
    .infoContacto .mapa iframe {
      width: 200px;
      height: 200px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457); }
  .infoContacto section {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center; }
    .infoContacto section img {
      width: 50px;
      height: 45px; }
    .infoContacto section p {
      font-family: 'Montserrat';
      font-size: 10px;
      text-align: justify;
      margin: 5px; }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #557174;
  width: 100%;
  height: 50vh; }
  .footer .logoFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .footer .logoFooter .logoPie img {
      width: 150px;
      height: 150px; }
    .footer .logoFooter .logoPie div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -20px; }
      .footer .logoFooter .logoPie div h1 {
        color: #F7F7E8;
        font-family: 'DM Serif Display', sans-serif;
        font-weight: lighter;
        font-size: 40px; }
      .footer .logoFooter .logoPie div h3 {
        color: #F7F7E8;
        font-family: 'DM Serif Display', sans-serif;
        font-weight: lighter;
        font-size: 10px;
        margin-top: -10px; }
  .footer .footerRedes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px; }
    .footer .footerRedes div a img {
      width: 50px;
      height: 40px; }

/* Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal */
@media (min-width: 375px) {
  /* Pagina inicio no necesita cambios */
  /* Pagina Sobre Nosotros */
  .contenedorEquipo section .equipo {
    /*no impacta esto en la página*/ }
    .contenedorEquipo section .equipo h4 {
      margin: 15px 10px 5px 10px; }
    .contenedorEquipo section .equipo p {
      margin: 10px; } }

@media (min-width: 425px) {
  /* Pagina inicio no necesita cambios */
  /* Pagina Sobre Nosotros */
  .carousel-item div h2 {
    font-size: 30px;
    margin-top: -70px; } }

/* Tabletas pequeñas, en modo vertical */
@media (min-width: 500px) {
  /* Pagina inicio no necesita cambios */
  /*sobreNosotros*/
  .sobreNosotros .banner .carousel h2 {
    font-size: 35px;
    margin-top: -95px; } }

@media (min-width: 600px) {
  /* Pagina inicio no necesita cambios */
  /*sobreNosotros*/
  .sobreNosotros .banner .carousel h2 {
    font-size: 40px;
    margin-top: -100px; } }

/* Tabletas de diez pulgadas, en modo vertica */
@media (min-width: 768px) and (max-width: 1023px) {
  /*header*/
  .header .navbar .container-fluid .logo {
    width: 180px;
    height: 180px; }
    .header .navbar .container-fluid .logo img {
      width: 180px;
      height: 180px; }
    .header .navbar .container-fluid .logo div h1 {
      font-size: 80px; }
    .header .navbar .container-fluid .logo div h3 {
      font-size: 15px; }
  .header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 25px; }
  /* serviciosIndex */
  .sectionServIndex h2 {
    font-size: 30px; }
  .sectionServIndex .contenedorServ {
    display: grid;
    /* declaramos filas y columnas de grid, sino no funciona */
    grid-template-columns: repeat(2, 6fr);
    /*max son 12 columnas, fr es una medida llamada fraction*/
    grid-template-rows: repeat(2, 235px);
    /*infinitas*/
    grid-template-areas: "serv1 serv2" "serv3 serv4";
    align-content: center;
    justify-content: center;
    place-items: center;
    /* Centra tanto horizontal como verticalmente */ }
  .sectionServIndex .serv#venta {
    grid-area: serv1; }
  .sectionServIndex .serv#cria {
    grid-area: serv2; }
  .sectionServIndex .serv#doma {
    grid-area: serv3; }
  .sectionServIndex .serv#entrenamiento {
    grid-area: serv4; }
  /* testIndex */
  .contenedorTest {
    height: 115vh; }
    .contenedorTest .test {
      width: 600px;
      height: 150px; }
      .contenedorTest .test .estrellas {
        width: 15%; }
        .contenedorTest .test .estrellas img {
          height: 15px; }
  /*sobreNosotros*/
  .sobreNosotros .banner .carousel h2 {
    font-size: 50px;
    margin-top: -120px;
    margin-left: 10px; }
  .sobreNosotros .contenedorEquipo {
    margin-bottom: 10px; }
    .sobreNosotros .contenedorEquipo h2 {
      font-size: 30px; }
    .sobreNosotros .contenedorEquipo section {
      height: 78vh; }
  /* footer */
  .footer {
    flex-direction: row;
    height: 40vh; }
    .footer .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center; }
      .footer .logoFooter .logoPie div h1 {
        font-size: 50px; }
      .footer .logoFooter .logoPie div h3 {
        font-size: 15px; }
    .footer .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 30px; } }

/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {
  /*header TODAS las paginas*/
  .header {
    /*solo se muestra bien en las paginas inicio y sobre nosotros*/ }
    .header .navbar .container-fluid .logo {
      width: 150px;
      height: 150px; }
      .header .navbar .container-fluid .logo img {
        width: 150px;
        height: 150px; }
      .header .navbar .container-fluid .logo div h1 {
        font-size: 60px; }
      .header .navbar .container-fluid .logo div h3 {
        font-size: 12px; }
    .header .navbar .container-fluid .navbar-collapse {
      justify-content: flex-end; }
  /*ServIndex*/
  .sectionServIndex .contenedorServ {
    display: grid;
    /* declaramos filas y columnas de grid, sino no funciona */
    grid-template-columns: repeat(2, 6fr);
    /*max son 12 columnas, fr es una medida llamada fraction*/
    grid-template-rows: repeat(2, 260px);
    /*infinitas*/
    grid-template-areas: "serv1 serv2" "serv3 serv4";
    height: 85vh;
    row-gap: 20px;
    align-content: center;
    justify-content: center;
    place-items: center;
    /* Centra tanto horizontal como verticalmente */ }
    .sectionServIndex .contenedorServ .serv {
      width: 250px;
      height: 250px; }
      .sectionServIndex .contenedorServ .serv div {
        display: flex;
        width: 100%;
        height: 200px; }
    .sectionServIndex .contenedorServ .serv#venta {
      grid-area: serv1; }
    .sectionServIndex .contenedorServ .serv#cria {
      grid-area: serv2; }
    .sectionServIndex .contenedorServ .serv#doma {
      grid-area: serv3; }
    .sectionServIndex .contenedorServ .serv#entrenamiento {
      grid-area: serv4; }
  /*TestIndex*/
  .sectionTestIndex .contenedorTest {
    display: grid;
    /* declaramos filas y columnas de grid, sino no funciona */
    grid-template-columns: repeat(3, 4fr);
    /*max son 12 columnas, fr es una medida llamada fraction*/
    grid-template-rows: repeat(1, 235px);
    /*infinitas*/
    grid-template-areas: "test1 test2 test3";
    height: 35vh;
    align-content: center;
    justify-content: center;
    place-items: center;
    /* Centra tanto horizontal como verticalmente */ }
    .sectionTestIndex .contenedorTest .test#test1 {
      grid-area: test1; }
    .sectionTestIndex .contenedorTest .test#test2 {
      grid-area: test2; }
    .sectionTestIndex .contenedorTest .test#test3 {
      grid-area: test3; }
  /*sobreNosotros*/
  .sobreNosotros .banner .carousel h2 {
    font-size: 70px;
    margin-top: -160px; }
  /*servicios*/
  .contenedorServicio div {
    flex-direction: row; }
    .contenedorServicio div .servicio div img {
      height: 33vh; }
  /* novedades */
  .contenedorFotos {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .contenedorFotos div {
      display: flex;
      flex-direction: row;
      width: 95%;
      justify-content: space-evenly;
      margin: 50px; }
      .contenedorFotos div img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457); }
  /*contacto*/
  .form form {
    width: 40%; }
  .infoContacto section {
    flex-direction: row;
    width: 90%;
    align-items: center; }
    .infoContacto section img {
      width: 50px;
      height: 45px; }
    .infoContacto section p {
      font-family: 'Montserrat';
      font-size: 10px;
      text-align: justify;
      padding: 10px; }
  /*footer TODAS las paginas*/
  .footer {
    flex-direction: row;
    height: 40vh; }
    .footer .logoFooter {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center; }
      .footer .logoFooter .logoPie div h1 {
        font-size: 50px; }
      .footer .logoFooter .logoPie div h3 {
        font-size: 15px; }
    .footer .footerRedes {
      width: 60%;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 30px; } }

/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {
  .sectionServIndex h2 {
    font-size: 30px; }
  .sectionTestIndex h2 {
    font-size: 30px; }
  /*sobreNosotros*/
  .sobreNosotros .banner .carousel h2 {
    font-size: 80px;
    margin-top: -180px; }
  .sobreNosotros .contenedorEquipo {
    display: flex;
    flex-direction: column; }
    .sobreNosotros .contenedorEquipo h2 {
      font-size: 30px; }
    .sobreNosotros .contenedorEquipo section {
      display: flex;
      flex-direction: row; }
      .sobreNosotros .contenedorEquipo section .equipo {
        width: 60%; }
        .sobreNosotros .contenedorEquipo section .equipo h4 {
          font-size: 25px; }
        .sobreNosotros .contenedorEquipo section .equipo p {
          font-size: 16px; }
      .sobreNosotros .contenedorEquipo section .imgEquipo {
        margin: 20px; } }
