@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #F7F7E8;
}
/* ------------------------------THE HEADER STARTS HERE------------------------------*/
/* -----------ENCABEZADO DE TODAS LAS PAGINAS----------- */
.headerIndex {
   display: flex;
   flex-direction: column;
   background-color: #557174;
   width: 100%;
   height: 52vh;
   align-items: center; /*alineo la barra de paginas al centro*/
   }

/* INICIO de diseño del logo en el encabezado */
.logo {
   display: flex;
}

.logo img {
   width: 100px;
   height: 100px;
}

.logo hr { /* linea entre la imagen y el nombre */
   height: 75px;
   margin-right: 10px;
   align-self: center;
}

.logo div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logo div h1 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 40px;
}

.logo div h3 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 10px;
   margin-top: -10px;
}
/* FIN de diseño logo de encabezado */
/* INICIO de paginas */
.headerIndex nav{
   display: flex;
}

.navBar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   list-style-type: none;
}

.navBar li {
   margin: 7px;
}

.navBar li a {
   color: #F7F7E8;
   text-decoration: none;
   font-family: 'DM Serif Display', sans-serif;
   font-size: 20px;
}

.navBar hr {
   border: none;
   border-top: 1.5px solid #F7F7E8;
   width: 100%;
}
/* FIN de paginas */
/* ------------------------------THE HEADER FINISH HERE------------------------------*/
/* ------------------------------THE MAIN STARTS HERE------------------------------*/
.banner {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   z-index: 999; /* esto lo puse para que el control del videos de novedades  no se superponga al indice */
}

.banner2{
   display: none;
}

.banner3{
   display: none;
}

.banner img {
   width: 90%;
   margin-top: 15px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

/* -------------SERVICIOS DEL HOME------------- */
.sectionServ {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-items: center;
   align-items: center;
   margin-top: 20px;
}

h2 {
   color: black;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.205);
}

.contenedorServ {
   display: flex;
   flex-direction: column;
   background-color: #C7CFB7;
   width: 100%;
   height: 150vh;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 20px;
}

.serv {
   display: flex;
   flex-direction: column;
   background-color: #F7F7E8;
   width: 200px;  
   height: 200px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   align-items: center;
}

.serv div{
   display: flex;
   width: 100%;
   height: 160px;
}

.serv div img{
   width: 100%;
   object-fit: cover;
}

.serv h4{
   font-family: 'Montserrat';
   font-size: 13px;
   font-style: italic;
   text-align: center;
   margin: 10px;
}

/* -------------TESTIMONIOS DEL HOME------------- */
.sectionTest{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-items: center;
   align-items: center;
   margin-top: 20px;
}

/* h2 de esta sección no lo hago ya que se desarrollo en la sección de servicio */

.contenedorTest {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 115vh;
   justify-content: space-evenly;
   align-items: center;
}

.test{
   display: flex;
   flex-direction: column;
   background-color: #9DAD7F;
   width: 270px;
   height: 200px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.test h5{
   color: black;
   font-family: 'Montserrat';
   font-style: italic;
   font-size: 15px;
   margin: 15px;
}

.estrellas{
   display: flex;
   width: 20%;
   margin-left: 15px;
}

.estrellas img{
   width: 100%;
   height: 13px;
}

.test p{
   color: black;
   font-family: 'Montserrat';
   font-size: 13px;
   margin: 15px;
   text-align: justify;
   justify-self: center;
}
/* ------------------------------THE MAIN FINISH HERE------------------------------*/
/* ------------------------------THE FOOTER STARTS HERE------------------------------*/
/* -----------FOOTER DE TODAS LAS PAGINAS----------- */
.footer{
   display: flex;
   flex-direction: column;
   background-color: #557174;
   width: 100%;
   height: 50vh;
}

.logoFooter {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.logoPie img{
   width: 150px;
   height: 150px;
}

.logoPie div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: -20px;
}

.logoPie div h1 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 40px;
}

.logoPie div h3 {
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 10px;
   margin-top: -10px;
}

.footerRedes {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   margin-top: 30px;
}

.footerRedes div img {
   width: 50px;
   height: 40px;
}

/* ---------------SOBRE NOSOSTROS---------------- */
/* banner de sobre nosostros */
.sobreNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 130vh;
}

.imgNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 32vh;
   justify-content: center;
   align-items: center;
}

.imgNosotros img {
   width: 90%;
   margin: 10px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

.imgNosotros h2{
   color: #F7F7E8;
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   margin-left: -140px;
   margin-top: -80px;
}

/* informacion de equipo */
.contenedorEquipo {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 90vh;
   align-items: center;
}

.contenedorEquipo section {
   display: flex;
   flex-direction: column;
   background-color:#C7CFB7;
   width: 100%;
   height: 85vh;
   margin-top: 5px;
   justify-content: center;
   align-items: center;
}

.equipo {
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 55vh;
}

.equipo h4 {
   font-family: 'Montserrat';
   font-size: 18px;
   margin-top: 20px;
   text-align: center; 
}

.equipo p {
   font-family: 'Montserrat';
   font-size: 14px;
   margin: 20px;
   text-align: justify;
}

.imgEquipo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.imgEquipo img{
   width: 150px;
   height: 150px;
}

/* ---------------SERVICIOS---------------- */
.tituloServicios {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 110px;
   gap: 20px;
   margin-top: 50px;
}

.tituloServicios div {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 80px;
   background-color: #9DAD7F;
   align-items: center;
   justify-content: center;
}

.tituloServicios h2 {
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 35px;
}

.contenedorServicio {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 1300px;
}

.contenedorServicio div{
   display: flex;
   width: 100%;
   height: 620px;
   align-content: center;
   justify-content: center;
}

.servicio {
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 600px;
   margin: 40px;
}

.servicio div {
   display: flex;
   flex-direction: column;
   width: 350px;
   height: 400px;
   border-radius: 45% 45% 20px 20px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
   overflow: hidden;
   margin: 25px;
}

.servicio div img{
   width: 100%;
   height: 400px;
   object-fit: cover;
}

.servicio h4{
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 18px;
   font-style: italic;
   text-align: center;
   margin-bottom: 10px;
}

.servicio p{
   font-family: 'Montserrat';
   font-size: 13px;
   text-align: justify;
   margin: 15px;
}

/* --------------NOVEDADES---------------- */
.banner video{
   width: 35%;
   margin-top: 10px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
}

.contenedorFotos {
   display: flex;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.contenedorFotos div {
   display: flex;
   width: 100%;
   height: 330px;
   justify-content: space-evenly;
   align-items: center;
}

.contenedorFotos img {
   width: 18%;
   height: 200px;
   object-fit: cover;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.fechasNosotros {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.fechasNosotros h3 {
   font-family: 'DM Serif Display', sans-serif;
   font-weight: lighter;
   font-size: 25px;
   margin: 20px;
}

.fechasNosotros p{
   font-family: 'Montserrat';
   font-size: 18px;
   text-align: justify;
   margin: 15px;
}

.fechasNosotros hr {
   border: none;
   border-top: 1.5px solid black;
   width: 35%;
}

/* --------------CONTACTO---------------- */
.form {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 350px;
   align-items: center;
   justify-items: center;
}

.form hr {
   border: none;
   border-top: 1.5px solid rgba(0, 0, 0, 0.648);
   width: 70%;
   margin: 40px;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.form form {
   display: flex;
   flex-direction: column;
   width: 25%;
   height: 150px;
   background-color: #C7CFB7;
   align-items: center;
   justify-items: center;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
}

.infoContacto {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 900px;
   align-items: center;
}

.mapa {
   width: 300px;
   height: 300px;
   margin-top: -30px;
   margin-bottom: 20px;
}

.mapa iframe {
   width: 300px;
   height: 300px;
}

.infoContacto section {
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 600px;
   justify-items: center;
}

.infoContacto section img {
   width: 75px;
   height: 65px;
}

.infoContacto section p {
   font-family: 'Montserrat';
   font-size: 15px;
   text-align: justify;
   margin: 5px;
}

/* Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal */
@media (min-width: 480px) {

}

/* Tabletas pequeñas, en modo vertical */
@media (min-width: 600px) {

}

/* Tabletas de diez pulgadas, en modo vertica */
@media (max-width: 768px) and (min-width: 1023px) {

} 

/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {

}

/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {
   .headerIndex{
      position: sticky; /* esto es para que el indice me siga mientras me deslizo hacia habajoen mi pagina web*/
      top: 0px;
      z-index: 1000; /* esto lo puse para que el control del videos de novedades  no se superponga al indice */
   }
   
}