.footer{
    display: flex;
    flex-direction: column;
    background-color: map-get($fondos, fondoHeaderFooter);
    width: 100%;
    .logoFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .logoPie {
            img{
                width: 150px;
                height: 150px;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -20px;
                h1 {
                    color: map-get($texto, logoH1);
                    font-family: 'DM Serif Display', sans-serif;
                    font-weight: lighter;
                    font-size: 40px;
                }
                h3 {
                    color: map-get($texto, logoH3);
                    font-family: 'DM Serif Display', sans-serif;
                    font-weight: lighter;
                    font-size: 10px;
                    margin-top: -10px;
                }
            }
        }
    }
    .footerRedes {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 20px 0px 20px 0px;
        div {
            a {
                img {
                    width: 50px;
                    height: 40px;
                }
            }
        }
    }
}