.sobreNosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    .carousel {
        margin: 10px;
        h2{
            color: #F7F7E8;
            font-family: 'DM Serif Display', sans-serif;
            font-weight: lighter;
            font-size: 25px;
            text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.205);
            margin-top: -60px;
            margin-left: 10px; 
        }
    }
    .contenedorEquipo {
        @include flex-center;
        flex-direction: column;
        margin-bottom: 50px;
        h2 {
            @include texto-h2;
            margin-bottom: 20px;
        }
        section {
            @include flex-center;
            flex-direction: column;
            background-color:map-get($fondos, fondoSectionsInfo);
            .equipo {
                display: flex;
                flex-direction: column;
                width: 90%;
                h4 {
                    font-family: 'Montserrat';
                    font-size: 20px;
                    text-align: center;
                    margin: 15px;
                }
                p {
                    color: map-get($texto, texto);
                    font-family: 'Montserrat';
                    font-size: 14px;
                    margin: 15px;
                    text-align: justify;
                    strong {
                        font-weight: bold;
                    }
                }
                p::selection {
                    color: #F7F7E8;
                    background-color: #35585C;
                }
                p::first-letter {
                    font-size: 1.5em;
                }
            }
            .imgEquipo {
                margin: 15px 10px 20px 10px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}