.form {
    @include flex-center;   
    flex-direction: column; 
    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-items: center;
        align-items: center;   
        background-color: map-get($fondos, fondoSectionsInfo);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
        border-radius: 5% 5% 5% 5%;
        padding: 10px;
        margin: 10px;
        fieldset {
            display: flex;
            flex-direction: column;
            justify-items: center;  
            legend{
                text-align: center;
                font-weight: bold;
                text-decoration: underline;
            }
            label {
                font-weight: bold;
            }
            input {
                margin-left: 10px;
            }
            div{
                display: flex;
                flex-direction: row;
                margin: 20px 0px 10px 0px;
                justify-content: center;
                input{
                    width: 80px;
                    font-weight: bold;
                    color: map-get($texto, textoClaro);
                    border-color: map-get($colorObjeto, colorBoton);
                    background-color: map-get($colorObjeto, colorBoton)
                }
            }
        }
    }
}

.infoContacto {
    @include flex-center;   
    flex-direction: column; 
    .mapa {
        display: flex;
        width: 220px;
        height: 220px;
        margin: 10px;
        iframe {
            width: 200px;
            height: 200px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457); 
        }
    }
    section {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
        a{
            img {
                width: 50px;
                height: 45px;
            }
            p {
                font-family: 'Montserrat';
                font-size: 10px;
                margin: 5px;
            }
        }
    }
}