.tituloServicios {
    @include flex-center;
    flex-direction: column;
    margin-top: 30px;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60px;
        background-color: #9DAD7F;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;
        h2 {
            @include texto-h2;
        }
    }
}

.contenedorServicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    div{
        @include flex-center;   
        flex-direction: column;   
        .servicio {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 15px;                        
            align-items: center; 
            justify-content: center; 
            div {
                width: 150px;
                height: 200px;
                border-radius: 45% 45% 20px 20px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
                overflow: hidden; 
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;  
                }
                img:hover{
                    filter: grayscale(2);
                }
            }
            h4{
                font-family: 'DM Serif Display', sans-serif;
                font-weight: lighter;
                font-size: 18px;
                font-style: italic;
                text-align: center;
                margin: 20px;
            }
            p{
                font-family: 'Montserrat';
                font-size: 13px;
                text-align: justify;
                margin: 10px;
            }
        }
    }
}