.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* esto lo puse para que el control del videos de novedades  no se superponga al indice */
    .carousel{
        width: 90%;
        height: auto;
        .carousel-inner{
            .carousel-item{
                img {
                    margin-top: 15px;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
                }
                video{
                    width: 100%;
                    margin-top: 10px;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.438);
                }
            }
        }
    }   
}

.contenedorFotos {
    display: none;
}

.fechasNosotros {
    @include flex-center;   
    flex-direction: column; 
    height: 380px;
    h3 {
        color: map-get($texto, texto);
        font-family: 'DM Serif Display', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        margin: 18px;
    }
    p{
        color: map-get($texto, texto);
        font-family: 'Montserrat';
        font-size: 15px;
        text-align: justify;
        margin: 10px;
    }
    hr {
        border: none;
        border-top: 1.5px solid black;
        width: 35%;
    }
}