$texto: (
    logoH1: #F7F7E8,
    logoH3: #F7F7E8,
    titulosH2: black, 
    texto: black,
    textoClaro: #F7F7E8,
);

$colorObjeto: (
    colorLogo: #F7F7E8,
    colorBoton: #557174,
);

$fondos: (
    fondoHeaderFooter: #557174,
    fondoSectionsInfo: #C7CFB7,
    fondoTestigos: #9DAD7F,
);