h1::selection {
    color: #F7F7E8;
    background-color: #35585C;
}
h2::selection {
    color: #F7F7E8;
    background-color: #35585C;
}
h3::selection {
    color: #F7F7E8;
    background-color: #35585C;
}
h4::selection {
    color: #F7F7E8;
    background-color: #35585C;
}
h5::selection {
    color: #F7F7E8;
    background-color: #35585C;
}
p::selection {
    color: #F7F7E8;
    background-color: #35585C;
}

