/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {    
    /*ServIndex*/
    .sectionServIndex {
        .contenedorServ{
            display: grid;
           /* declaramos filas y columnas de grid, sino no funciona */
            grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
            grid-template-rows: repeat(2, 260px) ; /*infinitas*/
            grid-template-areas:
            "serv1 serv2"
            "serv3 serv4";
            row-gap: 20px;
            align-content: center;
            justify-content: center;
            place-items: center; /* Centra tanto horizontal como verticalmente */
            .serv {
                width: 250px;
                height: 250px;
                div{
                    display: flex;
                    width: 100%;
                    height: 250px;
                }
                h4{
                    font-size: 15px;
                }
            }
            .serv#venta{
                grid-area: serv1;
            }
        
            .serv#cria{
                grid-area: serv2;
            }
        
            .serv#doma{
                grid-area: serv3;
            }
        
            .serv#entrenamiento{
                grid-area: serv4;
            }
        }
    }

    /*TestIndex*/
    .sectionTestIndex {
        .contenedorTest{
            display: grid;
            /* declaramos filas y columnas de grid, sino no funciona */
            grid-template-columns: repeat(3, 4fr); /*max son 12 columnas, fr es una medida llamada fraction*/
            grid-template-rows: repeat(1, 235px) ; /*infinitas*/
            grid-template-areas:
            "test1 test2 test3";
            align-content: center;
            justify-content: center;
            place-items: center; /* Centra tanto horizontal como verticalmente */
            .test#test1{
                grid-area: test1;
            }

            .test#test2{
                grid-area: test2;
            }
        
            .test#test3{
                grid-area: test3;
            }
        }
    }

    /*sobreNosotros*/
    .sobreNosotros {
        .banner {
            .carousel {
                h2{
                    font-size: 70px;
                    margin-top: -160px;
                }
            }
        }
    
        .contenedorEquipo {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            h2{
                font-size: 30px;
            }
            section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 50vh;
                .equipo {
                    width: 60%;
                    h4 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .imgEquipo {
                    margin: 20px;
                    
                }
            }
        }
    }

    /*titulo de servicios, novedades,contacto*/
    .tituloServicios{
        div {
            h2{
                font-size: 30px;
            }
        } 
    }

    .contenedorServicio {
        div{
            .servicio {
                div {
                    width: 200px;
                    height: 250px;
                    img{ 
                        height: 250px;
                    }
                }
                h4{
                    font-size: 22px;

                }
                p{
                    font-size: 16px;
                }
            }
        }
    }

    /* novedades */
    .contenedorFotos {
        display: flex;
        flex-direction: row;
        width: 100%;
        div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            margin: 40px;
            img {
                width: 175px;
                height: 150px;
                object-fit: cover;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
            }
            img:hover{
                transform: scale(1.2);
            }
        }
    }

    /*contacto*/
    .form {
        form {
            width: 40%;   
        }
    }

    /*footer TODAS las paginas*/
    .footer{
        .logoFooter {
            width: 30%;
        }
        .footerRedes {
            width: 70%;

        }
    }
    
}

