@media (min-width: 425px) {
    /* Pagina inicio no necesita cambios */
    /* Pagina Sobre Nosotros */
   .carousel-item div h2{
      font-size: 30px;
      margin-top: -70px;
   }

   .form {
      form {
         width: 80%;
      }
   }
}