/* Tabletas pequeñas, en modo vertical */
@media (min-width: 500px) {
    /* Pagina inicio no necesita cambios */
   /*sobreNosotros*/
   .sobreNosotros {
      .banner {
         .carousel {
            h2{
               font-size: 35px;
               margin-top: -95px;
            }
         }
      }
   }

   .form {
      form {
         width: 70%;
      }
   }
}