/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {
    .sectionServIndex {
        h2 {
            font-size: 30px;
        }
    }
    .sectionTestIndex {
        h2 {        
            font-size: 30px;
        }
    }

    /*sobreNosotros*/
    .sobreNosotros {
        .banner {
            .carousel {
                h2{
                    font-size: 80px;
                    margin-top: -180px;
                }
            }
        }
        .contenedorEquipo {
            section {
                height: 40vh;
            }
        }
    }

    .contenedorServicio {
        div{
            .servicio {      
                div {
                    img{
                        height: 30vh;
                    }
                }
            }
        }
    }
}
