/* Tabletas de diez pulgadas, en modo vertica */
@media (min-width: 768px) {
   /*header*/
   .header{
      .navbar{
         .container-fluid{
            .logo {
               width: 180px;
               height: 180px;
               img {
                  width: 180px;
                  height: 180px;
               }
               div {
                  h1 {
                     font-size: 80px;
                  }
                  h3 {
                     font-size: 15px;
                  }
               }
            }
            .navbar-collapse{
               .navbar-nav {
                  .nav-item {
                     .nav-link {
                        font-size: 25px;    
                     }  
                  }
               }
            }
            
         }
      }
   }

   /* serviciosIndex */
   .sectionServIndex{
      h2{
         font-size: 30px;
      }
      .contenedorServ{
         height: 90vh;
         display: grid;
         /* declaramos filas y columnas de grid, sino no funciona */
         grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
         grid-template-rows: repeat(2, 235px) ; /*infinitas*/
         grid-template-areas:
         "serv1 serv2"
         "serv3 serv4";
         align-content: center;
         justify-content: center;
         place-items: center; /* Centra tanto horizontal como verticalmente */
      }
      .serv#venta{
         grid-area: serv1;
      }
      .serv#cria{
         grid-area: serv2;
      }
      .serv#doma{
         grid-area: serv3;
      }
      .serv#entrenamiento{
         grid-area: serv4;
      }
   }
   

   /* testIndex */
   .contenedorTest {
      height: 115vh;
      .test{
         width: 600px;
         height: 150px;
         .estrellas{
            width: 15%;
            img{
               height: 15px;
            }
         }
      }
   }

   /*sobreNosotros*/
   .sobreNosotros {
      .banner {
         .carousel {
            h2{
               font-size: 50px;
               margin-top: -120px;
               margin-left: 10px;
            }
         }
      }
      .contenedorEquipo {
         margin-bottom: 10px;
         h2{
            font-size: 30px;
         }
         section {
            height: 78vh;
         }
      }
   }

   /*servicios*/
   .contenedorServicio {
      div{
         flex-direction: row;
         justify-content: space-around;
         .servicio {      
            div {
               img{
                  height: 33vh;
               }
            }
         }
      }
   }

   /* footer */
   .footer{
      flex-direction: row;
      height: 40vh;
      .logoFooter {
         display: flex;
         flex-direction: column;
         width: 40%;
         align-items: center;
         .logoPie {
            div {
               h1 {
                  font-size: 50px;
               }
               h3 {
                  font-size: 15px;
               }
            }
         }
      }
      .footerRedes {
         width: 60%;
         justify-content: flex-end;
         align-items:flex-start;
         margin-right: 30px;
      }
   }
}