/* Para pantallas panorámicas, principalmente portátiles y de escritorio */
@media (min-width: 1200px) {
    .sectionServIndex {
        h2 {
            font-size: 30px;
        }
    }
    .sectionTestIndex {
        h2 {        
            font-size: 30px;
        }
    }

    /*sobreNosotros*/
    .sobreNosotros {
        .banner {
            .carousel {
                h2{
                    font-size: 80px;
                    margin-top: -180px;
                }
            }
        }
        .contenedorEquipo {
            section {
                height: 40vh;
            }
        }
    }

    .contenedorServicio {
        div{
            .servicio {
                div {
                    width: 250px;
                    height: 300px;
                    img{ 
                        height: 300px;
                    }
                }
                h4{
                    font-size: 24px;

                }
                p{
                    font-size: 18px;
                }
            }
        }
    }

    .form {
        form {
            width: 30%;
        }
    }

    /*footer TODAS las paginas*/
    .footer{
        .logoFooter {
            width: 20%;
        }
        .footerRedes {
            width: 80%;
        }
    }
}