/* Tabletas como el iPad (1024×768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio */
@media (min-width: 1024px) {
    /*header TODAS las paginas*/
    
    .header{/*solo se muestra bien en las paginas inicio y sobre nosotros*/
        .navbar{
            .container-fluid{
                .logo {
                    width: 150px;
                    height: 150px;
                    img {
                        width: 150px;
                        height: 150px;
                    }
                    div {
                        h1 {
                            font-size: 60px;
                        }
                        h3 {
                            font-size: 12px;
                        }
                    }
                }
                    
                .navbar-collapse{
                    justify-content: flex-end;
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font-size: 20px;    
                            }  
                        }
                        .nav-item:hover{
                            transform: scale(1.1);
                        }
                    }
                    
                }
            }
        }
    }

    
    /*ServIndex*/
    .sectionServIndex {
        .contenedorServ{
            display: grid;
           /* declaramos filas y columnas de grid, sino no funciona */
            grid-template-columns: repeat(2, 6fr); /*max son 12 columnas, fr es una medida llamada fraction*/
            grid-template-rows: repeat(2, 260px) ; /*infinitas*/
            grid-template-areas:
            "serv1 serv2"
            "serv3 serv4";
            height: 100vh;
            row-gap: 20px;
            align-content: center;
            justify-content: center;
            place-items: center; /* Centra tanto horizontal como verticalmente */
            .serv {
                width: 250px;
                height: 250px;
                div{
                    display: flex;
                    width: 100%;
                    height: 200px;
                }
            }
            .serv#venta{
                grid-area: serv1;
            }
        
            .serv#cria{
                grid-area: serv2;
            }
        
            .serv#doma{
                grid-area: serv3;
            }
        
            .serv#entrenamiento{
                grid-area: serv4;
            }
        }
    }

    /*TestIndex*/
    .sectionTestIndex {
        .contenedorTest{
            display: grid;
            /* declaramos filas y columnas de grid, sino no funciona */
            grid-template-columns: repeat(3, 4fr); /*max son 12 columnas, fr es una medida llamada fraction*/
            grid-template-rows: repeat(1, 235px) ; /*infinitas*/
            grid-template-areas:
            "test1 test2 test3";
            height: 40vh;
            align-content: center;
            justify-content: center;
            place-items: center; /* Centra tanto horizontal como verticalmente */
            .test#test1{
                grid-area: test1;
            }
        
            .test#test2{
                grid-area: test2;
            }
        
            .test#test3{
                grid-area: test3;
            }
        }
    }

    /*sobreNosotros*/
    .sobreNosotros {
        .banner {
            .carousel {
                h2{
                    font-size: 70px;
                    margin-top: -160px;
                }
            }
        }
    
        .contenedorEquipo {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            h2{
                font-size: 30px;
            }
            section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 50vh;
                .equipo {
                    width: 60%;
                    h4 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .imgEquipo {
                    margin: 20px;
                    
                }
            }
        }
    }

    /*titulo de servicios, novedades,contacto*/
    .tituloServicios{
        div {
            h2{
                font-size: 30px;
            }
        } 
    }

    /* novedades */
    .contenedorFotos {
        display: flex;
        flex-direction: row;
        width: 100%;
        div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            margin: 40px;
            img {
                width: 175px;
                height: 150px;
                object-fit: cover;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.457);
            }
            img:hover{
                transform: scale(1.2);
            }
        }
    }

    /*contacto*/
    .form {
        form {
            width: 40%;   
        }
    }

    /*footer TODAS las paginas*/
    .footer{
        flex-direction: row;
        height: 40vh;
        .logoFooter {
            display: flex;
            flex-direction: column;
            width: 30%;
            align-items: center;
            .logoPie{
                div {
                    h1 {
                        font-size: 50px;
                    }
                    h3 {
                        font-size: 15px;
                    }
                }
            } 
        }
        .footerRedes {
            width: 70%;
            justify-content: flex-end;
            align-items:flex-start;
            margin-right: 30px;
        }
    }
    
}

